.buttonSize {
  height: 30px;
  width: 105px;
}

.buttonBorders {
  border: none;
  border-radius: 5px;
}

.buttonDisplay {
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: inherit;
  cursor: pointer;
}

.buttonDisplay {
  font-size: 0.9rem;
  font-weight: 600;
}

.buttonDisplay:nth-child(2) {
  text-transform: capitalize;
}

.buttonDisplay:hover {
  background-color: rgba(0, 0, 0, 0.03);
}
