body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  src: url(https://fonts.google.com/specimen/Nunito+Sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
}

*::before,
*::after,
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
