.element {
  margin: 1.5rem 1rem;
  height: var(--card-height);
  width: var(--card-width);
}

.element:hover {
  cursor: pointer;
}

.image-container {
  min-height: 50%;
}

.element img {
  width: 100%;
}

.info {
  margin: 0 0 0 1rem;
  font-size: var(--card-font-size-info);
}

.info h3 {
  padding: 0.6rem 0;
  font-size: var(--card-font-size-country);
}

.info p {
  padding: 0.08rem 0;
}

@media only screen and (max-width: 380px) {
  .info {
    padding-left: 1rem;
    font-size: var(--card-font-size-info-380px);
  }

  .info h3 {
    font-size: var(--card-font-size-country-380px);
  }
}

@media only screen and (max-width: 530px) {
  .element {
    margin: 1rem 0;
    width: var(--card-width-375px);
    height: var(--card-height-375px);
    padding-bottom: 40px;
  }
  .info {
    padding-left: 1.3rem;
    font-size: var(--card-font-size-info-530px);
  }

  .info h3 {
    font-size: var(--card-font-size-country-530px);
  }
}

@media only screen and (max-width: 380px) {
  .info {
    padding-left: 1rem;
    font-size: var(--card-font-size-info-380px);
  }
}

/* THEME COLORS */

.light {
  background: var(--light-mode-element-background);
  color: var(--light-mode-text);
}
.dark {
  background: var(--dark-mode-element-background);
  color: var(--dark-mode-text);
}
