.button {
  margin: auto 0;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  height: 30px;
  width: 105px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: inherit;
  cursor: pointer;
}

.button p {
  font-size: 0.9rem;
  font-weight: 600;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.03);
}
