:root {
  /* LIGHT MODE */
  --light-mode-text: hsl(200, 15%, 8%);
  --light-mode-input: hsl(0, 0%, 52%);
  --light-mode-background: hsl(0, 0%, 98%);
  --light-mode-element-background: hsl(0, 0%, 100%);
  /* DARK MODE */
  --dark-mode-text: hsl(0, 0%, 100%);
  --dark-mode-input: hsl(0, 0%, 52%);
  --dark-mode-background: hsl(207, 26%, 17%);
  --dark-mode-element-background: hsl(209, 23%, 22%);

  /* LAYOUT SIZES */
  --element-margin-1440px: 16px;
  --element-margin-375px: auto;
  --card-height: 320px;
  --card-max-height: 400px;
  --card-min-height: 240px;
  --card-height-375px: fit-content;
  --card-width: 190px;
  --card-max-width: 238px;
  --card-min-width: 142px;
  --card-width-375px: 90%;
  --card-font-size-country: 1.1rem;
  --card-font-size-info: 0.8rem;
  --card-font-size-country-530px: 1.4rem;
  --card-font-size-info-530px: 1.1rem;
  --card-font-size-country-380px: 1.1rem;
  --card-font-size-info-380px: 0.8rem;
}

.hover-effect:hover {
  background: rgba(0, 0, 0, 0.08) !important;
}
